@model Product

@inject ScienceMarketDbContext dbContext
@{
    ViewData["Title"] = "Add Product";
    var categories = dbContext.Categories.OrderBy(p => p.Name).ToList();
    var specs = dbContext.Specifications.OrderBy(p => p.Name).ToList();
    var categoySelectList = new SelectList(categories.Select(p => new { p.Id, p.Name }), "Id", "Name");
    var brands = new SelectList(dbContext.Brands.OrderBy(p => p.Name).ToList(), "Id", "Name");
    var catalogs = new SelectList(dbContext.Catalogs.OrderBy(p => p.Name).ToList(), "Id", "Name");
}

<form method="post" enctype="multipart/form-data" class="p-4 shadow rounded bg-dark">
    <h4 class="mb-3">Add Product</h4>
    <hr />

    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label fw-bold"></label>
        <select asp-for="CategoryId" asp-items="categoySelectList" class="form-control">
            <option selected disabled value="">Select</option>
        </select>
    </div>

    <div class="mb-3 d-flex">
        <div class="row row-cols-1 row-cols-md-3">
            @foreach (var spec in specs)
            {
                <div class="col spec-panel" data-category-id="@spec.CategoryId">
                    <div class="d-flex flex-column">
                        <div class="p-2">@spec.Name</div>
                        <input type="text" class="form-control" name="@spec.Id" />
                    </div>
                </div>
            }
        </div>

    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="BrandId"></label>
        <select class="form-control" asp-for="BrandId" asp-items="brands">
            <option selected value="">Select...</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="SelectedCatalogs"></label>
        <div class="row">
            @foreach (var item in catalogs)
            {
                <div class="col-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="SelectedCatalogs" id="catalog_@item.Value" value="@item.Value">
                        <label class="form-check-label" for="catalog_@item.Value">
                            @item.Text
                        </label>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" placeholder="enter the product name..." />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    
    <div class="mb-3">
        <label class="form-label" asp-for="Price"></label>
        <input class="form-control" asp-for="Price" placeholder="enter the price..." />
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Description"></label>
        <textarea class="form-control" asp-for="Description" placeholder="enter the description..."></textarea>
    </div>
    
    <div class="mb-3">
        <div class="d-flex mb-3">
            <div class="border p-2">
                <img id="previewImage" src="" style="object-fit: cover;" onerror="this.error = null; this.src = '/images/noimage.png'" width="320" height="240" />
            </div>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" asp-for="ImageFile">
            <label class="custom-file-label" asp-for="ImageFile">select image</label>
        </div>
    </div>
    <div class="mb-3">
        <div class="d-flex mb-3" id="galleryPanel">

        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" multiple asp-for="ImageFiles">
            <label class="custom-file-label" asp-for="ImageFiles">select images</label>
        </div>
    </div>
    <div class="mb-3">
        <div class="form-check">
            <input class="form-check-input" asp-for="IsEnabled" />
            <label class="form-check-label" asp-for="IsEnabled"></label>
        </div>
    </div>
    <div class="d-flex">
        <a class="btn btn-link" asp-action="Index">Cancel</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

</form>

@section Scripts {
    @*<link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote.min.js"></script>*@
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(() => {
            $('textarea').summernote({
                height: 300,
            });

            const showSpecs = (e) => {
                $('.spec-panel').addClass('d-none');
                $(`.spec-panel[data-category-id=${e}]`).removeClass('d-none');
            };

            showSpecs(null);

            $('#CategoryId').on('change', (e) => showSpecs($(e.currentTarget).val()));

            $('#ImageFile').on('change', (e) => {
                const fileReader = new FileReader();
                fileReader.onload = (e) => {
                    $('#previewImage').attr('src', fileReader.result);
                };
                fileReader.readAsDataURL(e.currentTarget.files[0]);
            });


            $('#ImageFiles').on('change', (e) => {
                const files = e.currentTarget.files;
                for (i in files) {
                    const fileReader = new FileReader();
                    fileReader.onload = (evt) => {
                        $('#galleryPanel').append(`
                            <div class="border p-2 m-2">
                                <img id="previewImage" src="${evt.target.result}" style="object-fit: cover;" width="160" height="120" />
                            </div>
                            `);
                    };
                    fileReader.readAsDataURL(e.currentTarget.files[i]);
                }

            });

        });
    </script>
}